body{

  height: 100%;
}

#warp-height {
    height: 100%;
}


/*@media screen and(-webkit-min-device-pixel-ratio:1) {
  .base-bor2{margin-top: 3rem;}
}*/

.title-a {
    background-color: #ffffff !important;
}

.title-a>div {
    color: #000000 !important;
}

.title-a>div:first-child {
    font-size: 0.7rem;
}

.back-span {
    color: #555555!important;
}

.aui-content {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.aui-btn-block {
    height: 2.25rem;
    line-height: 2.25rem;
}

.aui-list .aui-list-item-label-icon {
    padding-right: 0.25rem
}

.aui-list {
    border-top: 0;
}

.aui-list {
    background-image: none;
}

.aui-list .aui-list-item {
    margin-top: 0.675rem;
}

#verificationCodeImg {
    width: 4.5rem;
    height: 1.75rem;
}

.aui-btn {
    border-radius: 1.125rem;
    background-color: #3FC190;
    margin-top: 1.85rem;
}

.aui-list .aui-list-item {
    background-image: none !important;
}

.aui-list-item-inner {
    border-bottom: 1px solid #EBEBEB;
}

.base-bor1, .base-bor2 {
    border-style: none;
    min-height: 1rem !important;
}

.base-bor1>div:first-child {
    color: #555555;
}

.aui-list .aui-list-item-label {
    width: auto;
    min-width: 2.8rem;
    color: #222222;
}

.aui-list .aui-list-item-input {
    padding-left: 0.725rem;
}

.aui-text-center {
    background-color: #fff;
    margin-top: 1rem;
}

#loginWeixin {
    width: 55px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.75rem;
}

.base-mar1 {
    margin: 0;
}

.base-bor2 {
    position: fixed;
    bottom: 3rem;
    text-align: center;
    width: 100%;
    font-size: 13px;
}

.code-inp-span>input, .code-inp-span>span {
    float: left;
}

.code-inp-span>input {
    width: calc(100% - 3.3rem);
}

.code-inp-span>span {
    color: #3FC190;
    line-height: 2.2rem;
}

.input-verification-code{
  float: left;
  width: calc(100% - 3.3rem);
}

.send-message {
    float: left;
    color: #3FC190;
    line-height: 2.2rem;
}
