.medicinal-record-ul {
    min-height: 100%;
    width: 100%;
}

.medicinal-record-title {
    width: 100%;
}

.medicinal-record-li {
    width: 100%;
    height: 4rem;
    background-color: #ffffff;
}

.medicinal-record-content {
    position: relative;
    width: 100%;
    padding: 0.5rem 1rem;
}

.medicinal-record-time {
    font-size: 0.85rem;
    color: #222222;
    display: block;
}

.medicinal-record-date {
    font-size: 0.6rem;
    color: #999999;
}

.medicinal-record-status-ok {
    font-size: 0.75rem;
    color: rgba(63, 193, 144, 1);
    position: absolute;
    right: 1.5rem;
    top: calc(50% - .5rem);
}

.medicinal-record-status {
    font-size: 0.75rem;
    position: absolute;
    right: 1.5rem;
    top: calc(50% - .5rem);
    color: rgba(230, 75, 75, 1);
}

.border-se {
    width: 100%;
    height: 0.5rem;
    background-color: #EFF2F7;
}
